{% extends "admin/change_form.html" %}

{% block content %}
    {{ block.super }}

    {% if show_transaction_details %}
        <div>
            <h2>Transaction Details - Date: {{ transaction_details.selected_date }}</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Income Source</th>
                        <th>Expense Source</th>
                        <th>Cash In</th>
                        <th>Cash Out</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cash_in_record in transaction_details.cash_in_details %}
                        <tr>
                            <td>{{ cash_in_record.income_source }}</td>
                            <td></td>
                            <td>{{ cash_in_record.cash_in }}</td>
                            <td></td>
                            <td>{{ cash_in_record.status }}</td>
                        </tr>
                    {% endfor %}

                    {% for cash_out_record in transaction_details.cash_out_details %}
                        <tr>
                            <td></td>
                            <td>{{ cash_out_record.expense_source }}</td>
                            <td></td>
                            <td>{{ cash_out_record.cash_out }}</td>
                            <td>{{ cash_out_record.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
